{% extends 'template_base.html' %}
{% block title %} AdbWebDesing - Inicio {% endblock title %}

{%block content %}

<div class="hero">

</div>

<section class="container services">
  <h2>Nuestros Servicios</h2>
  <div class="list-services">
    {% for service in services  %}
      <div class="service">
        <img src="{{ service.image.url }}" alt="{{service.title}}">
        <a href="{% url 'services:details' service.slug %}">{{service.title}}</a>
      </div>
    {% endfor%}
  </div>
</section>

<section class="about-us">
  <div class="container about-us-grid">
    <div class="about-us-text">
      <h2>Sobre Nosotros</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa asperiores dignissimos hic explicabo unde tenetur assumenda soluta delectus maxime ipsum maiores porro harum adipisci, quae odit ea corporis eligendi neque?
      </p>
    </div>
  </div>
</section>

{% endblock content %}