{% extends 'template_base.html' %}
{% block title %} AdbWebDesing - Servicios {% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-secundary text-center">Nuestros Servicios</h1>
  
  <p>
    Ofrecemos una amplia gama de servicios para asegurar que su marca no solo sobresalga, sino que también brille en el mundo digital. 
  </p>
  <p>Nuestros servicios incluyn el <strong>diseño web personalizado</strong>, donde cada pixel cuenta una historia;</p>
  <p><strong>desarrollo de comercio electrónico</strong> para que sus ventas en línea despeguen como un cohete;</p>
  <p><strong>estrategias de marketing</strong> digital que son como un GPS para atraer clientes; </p>
  <p><strong>gestión de redes sociales</strong> que hace que su contenido sea tan viral como un video de gatitos;</p>
  <p><strong>optimización SEO</strong> para que su sitio web esté tan alto en los resultados de búsqueda como su ambición. </p>
  <p>Además, <strong>ofrecemos branding y diseño gráfico</strong> para que su identidad de marca sea tan única como su huella digital.</p>
  <p>Cada servicio es una pieza del rompecabezas que completa la imagen de éxito de su empresa en internet.</p>
</div>

<div class="container">

</div>

{% endblock %}