{% extends 'template_base.html' %}
{% block title %} AdbWebDesing - Blog {% endblock title %}
{% block content %}

    {% for post in posts %}
    <main class="main-content container">
        <h1>Nuestro Blog</h1>
        <section class="contenedor-blog">
            <div class="blog">
                <article>
                    <header>
                        
                    </header>
                </article>
            </div>
        </section>
    </main>
    {% endfor %}

{% endblock %}